{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style>

  .videowrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
  }

  #video {
    width: 60%;
    height: 70%;
    position: fixed;
    left: 20%;
    top: 10%;
  }

  .promo-banner, .promo-banner * { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.4;
  }
  .promo-banner {
    background: #ffae00;
    padding: 1rem;
    font-size: 1.4rem;
  }
  .promo-banner-content {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .promo-banner-content p {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
  }
  .promo-banner-content p b {
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: .2rem .5rem;
    line-height: 1.6;
  }
  .promo-banner-content .lead {
    font-family: Shadows Into Light;
    font-size: 2.5rem;
    display: flex;
    margin-right: 2rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .promo-banner-btn {
    margin-left: 2rem;
    
  }
  .promo-banner-btn button{
    background: #fff;
    border: 3px #000 solid;
    padding: .8rem 1.4rem;
    font-weight: 700;
    cursor: pointer;
  
  }
  .promo-banner-btn button:hover {
    border-color: green; 
  }
  .promo-banner-btn button .txt {
    font-weight: 400;
    white-space: nowrap;
  }
  .promo-banner-content sup {
    line-height: 0;
    position: relative;
    font-size: 60%;
    vertical-align: bottom;
    top: -2rem;
  }
  
  @media (max-width: 730px) {
    .promo-banner-content p {
      flex-direction: column;
      text-align: center;
    }
    .promo-banner-content .lead {
      margin-right: 0;
    }    
  }
  
</style>
<!--<section class="section has-background-grey" style="text-align: center;">
  <div id="flash" class="video-container">
    <video width="75%" height="75%" id="featured">
      <source src="{% static 'videos/Three-Minute-Meal.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</section>-->
<div class="promo-banner">
  <div class="promo-banner-content">
    <p>DISCOUNT: 15% off Purchase! Expires: 10/31</p>
    <div class="promo-banner-btn"><button onclick="copyCode()"><span class="txt">Click to Copy Promo Code: </span><div id="promocode">HaloweenOpening15</div></button></div>
 </div>
</div>
<div
  style="text-align: center; background: url('{% static 'images/rooms.jpg' %}') 50% 47%; background-size: cover; height: 320px;">
</div>
<section class="section has-background-dark" style="min-height:700px;">
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="columns is-mobile is-multiline" style="align-items: center; justify-content: center;">
          {% for post in rooms %}
          <div class="column post" style="min-width: 400px;">
            <div style="text-align: center;">
              <a class="field" style="font-family: 'Denk One', sans-serif; font-size: 45px; color:white;"
                href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a>
              <div class="hovereffect" style="margin-top:10px;margin-bottom:10px;">
                <figure class="img-responsive">
                  <a href="{% url 'post_detail' post.slug  %}"><img src="{%  static post.image_path %}" /></a>
                </figure>
              </div>
              <div>
                {% if post.trailer1 != "none" %}
                <a class="button is-large openbox" data-video={{post.trailer1}}
                  style="background-color:#ffae00; border-color: orange; margin-right:5%;">Trailer</a>
                {% endif %}
                <a href="{% url 'book-now' %}" class="button is-large"
                  style="background-color:#ffae00; border-color: orange; margin-left:5%;">Book Now</a>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column is-1"></div>
  </div>
</section>
<!--<div
  style="text-align: center; background: url('{% static 'images/videogames.png' %}') 50% 47%; background-size: cover; height: 320px;">
</div>
<section class="section has-background-dark" style="min-height:700px;">
  <br>
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
      <div class="row">

        <div class="columns is-mobile is-multiline" style="align-items: center; justify-content: center;">
          {% for game in game_list %}
          <div class="column game" style="min-width: 400px;">
            <div style="text-align: center;">
              <a class="field" href="{% url 'game_detail' game.slug  %}"
                style="font-family: 'Denk One', sans-serif; font-size: 45px; color:white;">{{ game.title }}</a>
              <div class="hovereffect" style="margin-top:10px;margin-bottom:10px;">
                <figure class="img-responsive">
                  <a href="{% url 'game_detail' game.slug  %}"><img src="{%  static game.image_path %}" /></a>
                </figure>
              </div>
              <div>
                <a href="{%  static game.download_path %}" download class="button is-large"
                  style="background-color:#ffae00; border-color: orange;">Download Demo</a>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column is-1"></div>
  </div>
</section>-->
<div class="videowrap">
  <label class="closebox">×</label>
  <iframe id="video" frameborder="0" allowfullscreen></iframe>
</div>
<script>
  var player;
  var vidNum;
  var appendJ = "?enablejsapi=1";

  $(function () {
    $(".openbox").click(function () {
      var vidNum = "//www.youtube.com/embed/" + $(this).attr("data-video") + appendJ;

      $("#video").parent().fadeIn(400);

      //which video is going to play
      $("#video").attr("src", vidNum);
      //make video auto play
      $("#video")[0].src += "&autoplay=1";
    });

    //click X
    $(".closebox, .videowrap").click(function () {
      $(".videowrap").fadeOut(400);
      $("#video").attr("src", "");
    });

    //esc keydown
    $(document).keydown(function (event) {
      if (event.which == 27) {
        $(".videowrap").fadeOut(400);
        $("#video").attr("src", "");
      }
    });
  });

  function copyCode() {
    var copyText = document.getElementById("promocode");
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
    alert("Copied the Promo Code to Clipboard!");
  }




</script>
{%endblock%}