{% extends "base.html" %}
{% load static %}
{% block content %}
<section
  style="text-align: center; background: url('{% static 'images/stairs.jpg' %}') 50% 30%; background-size: cover; height: 200px;">
  <br>
  <h4>Escape Rooms</h4>
</section>
<section class="section has-background-dark" style="min-height:700px;">
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="columns is-mobile is-multiline" style="align-items: center;">
          {% for post in post_list %}
          <div class="column is-6 post" style="min-width: 350px;">
            <div style="text-align: center;">
              <a class="field" style="font-family: 'Denk One', sans-serif; font-size: 45px; color:white;"
                href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a>
              <div class="hovereffect" style="margin-top:10px;margin-bottom:10px;">
                <figure class="img-responsive">
                  <a href="{% url 'post_detail' post.slug  %}"><img src="{%  static post.image_path %}" /></a>
                </figure>
              </div>
              <div>
                <a onclick="openFullscreen('{{post.slug}}');" class="button is-large" style="background-color:#ffae00; border-color: orange; margin-right:5%;">Trailer</a>
                <a href="{% url 'book-now' %}" class="button is-large" style="background-color:#ffae00; border-color: orange; margin-left:5%;">Book Now</a>
              </div>
              <video width="1" height="1" controls='true' id='{{ post.slug }}'>
                <source src="{% static post.video_path %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column is-1"></div>
  </div>
</section>
<script>
  function openFullscreen(vidId) {
    var elem = document.getElementById(vidId);
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) { /* Firefox */
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE/Edge */
      elem.msRequestFullscreen();
    }
    elem.style.height = '100%';
    elem.style.width = '100%';
    elem.play();
  }
</script>

</section>
{%endblock%}